*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    color: #605d5d;
}